 .app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


.main-content-wrapper {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  width: 100%;
}

@media (max-width: 768px) {
  .main-content-wrapper {
    padding: 0;
  }
}