.home{
    text-align: center;
}

.home-container {
  padding: 40px 20px;
  text-align: center;
}

/* Hero Image */
.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  
}

/* Hero Text */
.hero-title {
  font-size: 3rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

/* Course Grid */
.course-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Cards */
.card-link {
  text-decoration: none;
}

.subject-card {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.subject-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
}


@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .subject-card {
    width: 130px;
    height: 90px;
  }
}
