.sidebar {
  width: 220px;
  height: calc(100vh - 76px);
  background-color: #f6f9fc;
  padding: 1rem 0;
  overflow-y: auto;
  position: sticky;
  top: 79px;
  z-index: 10;
  border-right: 1px solid #e1e8ed;
}

.sidebar-title {
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  margin-bottom: 0.5rem;
  color: #333;
}

.sidebar-links {
  list-style: none;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.sidebar-li {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
}

.sidebar-link-item {
  text-decoration: none;
  color: #444;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  width: 100%;
  display: block;
}

.sidebar-li:hover {
  background-color: #f1c173;
}

.sidebar-li:hover .sidebar-link-item {
  color: #fff;
}

.sidebar-li.active {
  background-color: #f39c12;
}

.sidebar-li.active .sidebar-link-item {
  color: #fff;
  font-weight: 700;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 230px;
    height: calc(100vh - 76px);
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2000;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-title {
    margin-top: 0;
  }
}

.overlay {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 1500;
}
