.footer {
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 2rem 1rem;
  margin-top: 5px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.footer-section {
   flex: 1; 
  min-width: 200px;
}

.footer-section h2 {
  font-size: 1.5rem;
}

.footer-section .highlight {
  color: #f39c12;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #ECF0F1;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #f39c12;
}

.socials a {
  margin-right: 1rem;
  color: #ECF0F1;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.socials a:hover {
  color: #f39c12;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #34495E;
  padding-top: 1rem;
}
