.sidebar {
  width: 220px;
  height: calc(100vh - 76px); /* adjust based on actual navbar height */
  background-color: #f6f9fc;
  padding: 1rem 0;
  overflow-y: auto;
  position: sticky;
  top: 79px;/* same as navbar height */
  z-index: 1;
}



.sidebar-title {
  font-size: 1rem;
  border-bottom: 1px solid #555;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.sidebar-links {
  list-style: none;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500; /* Normal text */
  padding: 0;
  margin: 0;
}

.sidebar-links li {
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.sidebar-links li a{
  text-decoration: none;
}

.sidebar-links li:hover {
  background-color: #f1c173;
  color: #fff;
}

.sidebar-links li.active {
  background-color: #f39c12;
  color: #fff;
  font-weight: bold;
}


@media (max-width: 768px) {
  .sidebar{
    position: absolute;
    top: 160px;
    display: none;
  }
  .sidebar.open{
    display: block;
  }
}